<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
		<meta name="language" content="en-us" />
		<meta name="classification" content="" />
		<meta name="creator" content="Darryl Dixon, Piece Digital" />
		<meta name="publisher" content="Piece Digital Studios" />
		<meta name="robots" content="index, follow" />
		<meta name="revisit-after" content="21 days" />
		<meta property="og:url" content=""/>
		<meta property="og:image" content=""/>
		<link rel="shortcut icon" type="image/x-icon" href="logo.ico">
		<link rel="apple-touch-icon" type="image/x-icon" href="logo.ico">
		<!-- style tag -->
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body class="{{page}}">
		<header>
			<div class="parent fillout">
				<div id="logo"></div>
				<nav>
					<a id="home" href="/">
						Home
					</a><a id="about" href="/about">
						About
					</a><a id="profile" href="/profile">
						Profile
					</a><a id="store" href="/store">
						Store
					</a><a id="checkout" href="/checkout">
						Checkout
					</a><a id-"signupin" href="/{{logType}}">
						{{logText}}
					</a>
				</nav>
			</div>
		</header>
		{{{body}}}
		<footer class="center-justify">
			&copy; 2015 | Created by <a href="http://piecedigital.github.io">Piece Digital Studios</a>
		</footer>
	</body>
</html>